# Jupyter notebook checkpoints
################################
.ipynb_checkpoints


# Data file formats
################################
*.csv
*.h5

# Image file formats
################################
*.png
*.bmp
*.jpg
*.jpeg