# Jupyter notebook checkpoints
################################
.ipynb_checkpoints


# Data file formats
################################
*.csv
*.h5
*.pt
*.gz

# Image file formats
################################
*.png
*.bmp
*.jpg
*.jpeg

# Downloaded data files
################################
data/